<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
    </style>
  </head>

  <body>
    <%= yield %>
    <div>
      <h4>Have a nice trip!</h4>
    </div>
    <hr>
    <p>uybinh.com Airliner</p>
  </body>
</html>
